<div class="container">

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: "Add a description"%>
    <%= f.input :ingredient_id, collection: @ingredients, label: "Ingredient", include_blank: false %>
    <%= f.submit "add the dose", class: "btn btn-primary" %>
  <% end %>
</div>
